.session-page.session-page {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    background-color: #02c7d9;
}

.session-page form {
    border-radius: 4px;
    position: relative;
    top: 128px;
    background-color: #fff;
}

.session-page .form__content {
    width: 400px;
    padding: 40px;
}

.session-page .form__header {
    margin-bottom: 30px;
}

.session-page .form__header > h2 {
    margin: 0;
    color: #02c7d9;
    font-size: 52px;
    text-align: center;
    line-height: 1;
}

.session-page .form__group {
    display: flex;
    align-items: center;
}

.session-page .form__group .icon {
    margin-right: 15px;
    color: #02c7d9;
    font-size: 28px;
}

.session-page .user-form__input {
    display: flex;
    align-items: center;
    flex-grow: 1;
    border-radius: 4px;
    margin: 8px 0;
    padding: 10px 15px;
    background-color: rgba(159, 241, 249, 0.2);
}

.session-page .user-form__input.input--alert {
    background-color: rgba(255, 118, 111, 0.4);
}

.session-page .user-form__input input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    color: rgba(51,51,51, 0.9);
    font-size: 18px;
    outline: none;
}

.session-page .user-form__input input::-webkit-input-placeholder {
    color: rgba(51,51,51, 0.5);
}

.session-page .form__submit {
    display: flex;
}

.session-page .form__submit input {
    flex-grow: 1;
    border: none;
    border-radius: 0 0 4px 4px;
    padding: 24px;
    background-color: rgba(159, 241, 249, 0.2);
    color: rgba(0,0,0, 0.2);
    font-size: 18px;
    outline: none;
    transition: all 0.2s ease;
}

.session-page .form__submit input.btn--active {
    background-color: #ffd16f;
    color: #fff;
    cursor: pointer;
}