div.drawer
    div.drawer__header
        h2 Your Contacts
        hr
    div.drawer__main
        div.drawer_main_list
            a.drawer_list_item Ivan Matas
            a.drawer_list_item Goran Bogovac
            a.drawer_list_item Jakov Raos
            a.drawer_list_item Luka Ćurin
            a.drawer_list_item Stjepan Livačić
            a.drawer_list_item Duje Ančić
            a.drawer_list_item Luka Drezga