extends layout

block content
    div.app
        //- include topbar.pug
        div.app-content
            include partials/drawer.pug
            div.chat-room
                div.message-history-container
                div.new-message-container
                    input(placeholder='Type a message..')
                    a.send-button SEND
    
